
.abilities {
    background-color: #606b6c;
    margin: 8px 8px 10px 8px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 180px
  }
  
  .abilities li {
    margin: 8px;
    padding: 5px 10px;
    ;
  }
  
  ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  
  #ability_01:hover {
    background-color: rgba(159, 173, 200, .7);
    color: black;
    cursor: pointer;
    box-shadow: 2px 2px S5px rgba(0, 0, 0, .2);
    border-radius: 5px;
  }
  