.att-container {
  display: flex;
  margin: 10px;
}

.att-HnS {
  width: 100%;
}

.att-max-container {
  display: flex;
  background-color: yellowgreen;
  color: black;
  justify-content: center;
  height: 15%;
  align-items: center;
  font-size: 10px;
}

.att-number-container {
  display: flex;
  color: black;
  height: 85%;
  background-color: cornflowerblue;
}

.att-number {
  font-size: 40px;
  margin: auto;
}

#att-number-health {
  background-color: darkcyan;
}

#att-number-sanity {
  background-color: firebrick;
}

.att-number-container button {
  width: 100%;
}

/* rest section */
.att-rest-cont {
  background-color: green;
  width: 500px;
}

/* rest button container */
.att-rest-btn-cont {
  background-color: darkgoldenrod;
  /*   text-align: center; */
}

/* rest button */
.att-rest-btn-cont button {
  /*   margin: 0 0 10px 0; */
  background-color: indigo;
  width: 100%;
  /* height: 35px; */
  padding: 5px 0;
  font-size: 12px;
}

/* Rest spending resources label container */
.att-rest-label-cont {
  /*   background-color: blueviolet; */
  /*   text-align: center; */
  /* padding: 10px 0; */
}

.att-rest-label-cont button {
  background-color: saddlebrown;
  font-size: 12px;
  /*   text-align: center; */
  padding: 5px 0;
  width: 100%;
  /* height: 100%; */
}

/* Rest type label container  */
.att-rest-label-type-cont {
  background-color: darkslategrey;
  display: flex;
  text-align: center;
  font-size: 12px;
}

/* Rest type label divs / controla la altura del renglon*/
.att-rest-label-type-cont div {
  width: 100%;
}

/* Rest health label container */
.att-rest-label-health-cont {
  background-color: midnightblue;
}

/* rest sanity label container */
.att-rest-label-sanity-cont {
  background-color: crimson;
}

/* rest resources number container */
.att-rest-numbers-cont {
  display: flex;
}

/* spend resources botones */
.att-rest-numbers-cont div {
  width: 100%;
  background-color: orangered;
  display: flex;
  text-align: center;
}

.att-rest-numbers-cont button,
.att-rest-numbers-cont label {
  width: 100%;
}

.abilities {
  background-color: #606b6c;
  margin: 8px 8px 10px 8px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 180px
}

.abilities li {
  margin: 8px;
  padding: 5px 10px;
  ;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

#ability_01:hover {
  background-color: rgba(159, 173, 200, .7);
  color: black;
  cursor: pointer;
  box-shadow: 2px 2px S5px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.actions-container {
  /*   background-color: brown; */
  display: flex;
  justify-content: space-between;
  margin: 0px 9px;
  margin-bottom: 10px;
}

.actions-container button {
  /*   background-color: darkseagreen; */
  /*   color: black; */
  width: 32%;
  padding: 5px 0;
}

.available-actions-main-container {
  margin: 10px 9px;
  border: 1px solid black;
}

.available-actions-header {
  text-align: center;
  background-color: brown;
}

.available-actions-container {
  display: flex;
  margin: 5px;
}

.available-actions-container div {
  background-color: lightblue;
  color: black;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
}

#av-move {
  /*     display: none; */
}

#av-rest {
  /* display: none; */
}

#av-adquire {
  /* display: none; */
}

#av-trade {
  /* display: none; */
}

#av-action {
  /* display: none; */
}

#av-focus {
  /* display: none; */
}

#av-resource {
  /* display: none; */
}

#av-ship {
  /* display: none; */
}

#av-train {
  /* display: none; */
}

#av-delayed {
  /* display: none; */
}

.items-container {
  /* background-color: red; */
  /* width: 200px; */
  padding: 10px;
  display: flex;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  flex-direction: column;
  /* justify-content: stretch; */
}

.items-subcontainer2 {
  background-color: darkgreen;
  /* margin: 10px; */
  /* padding: 10px; */
  /* box-sizing: border-box; */
  /* width: 100px; */
  height: 100%;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items:  center; */
  /* justify-content: stretch; */
}

.items-subcontainer {
  color: black;
  display: flex;
  background-color: blueviolet;
  /* justify-content: space-evenly; */
  /* width: 100%; */
  height: 103px;
  /* height: 100%; */
}

.items-subcontainer div {
  /* box-sizing: border-box; */
  background-color: rosybrown;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  width: 100px;
  font-size: 12px;
  /* height: 100%; */
}

.items-header {
  background-color: darkblue;
  height: 20px;
  font-size: 16px;
  padding: 4px;
}


/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* aqui empieza el nuevo area de item assets */
.tab-container {
  background-color: blue;
  width: 400px;
  display: flex;
  /* flex-wrap: nowrap; */
  flex-flow: column;
  margin: 0;
  padding: 0;
}

/* Style the tab */
.tab {
  /* float: left; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: stretch;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /* width: 150px; */
  /* height: 100%; */
  margin: 5px;
}

/* Style the buttons inside the tab */
.tab button {
  /* display: block; */
  background-color:  chartreuse;
  color: black;
  padding: 5px;
  width: 31%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  margin: 3px;
  /* background-color: red; */
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: maroon;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: darkgreen;
}

/* Style the tab content */
.tabcontent {
  padding: 5px;
  /* desactivar para visualizar sin hover */
  /* display: none; */
  font-size: 11px;
  background-color: orange;
  color: black;
  margin: 5px;
}
.tabcontent-header{
  background-color: darkmagenta;
  padding: 5px 8px;
  font-size: 12px;
  color: white;
}

.items-container2 {
  background-color: chartreuse;
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* justify-content: stretch; */
  overflow: auto;
  white-space: nowrap;
  /* width: 350px; */
  padding: 10px;

}

.item {
  background-color: midnightblue;
  color: white;
  vertical-align: top;
  width: 140px;
  /* width: 100%; */
  height: 160px;
  display: inline-block;
  white-space: normal;
  /* margin: 5px; */
  /* margin: 0; */
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding: 5px;

}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* width */
.items-container2::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Handle */
.items-container2::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

/* Handle on hover */
.items-container2::-webkit-scrollbar-thumb:hover {
  background: white;
}