.sheets{
  background-color: red;
  display: flex;
  padding: 0;
  margin: 0;
}

.chars_sheet {
  border: 1px solid black;
  width: 350px;
  margin: 0;
  padding: 0;
  cursor: default;
}

.player {
  padding: 4px 0;
  background-color: #171c1c;
  text-align: center;
  color: rgb(200, 200, 200);
}

.chars_sheet select {
  border: none;
  border-bottom: 1px solid black;
  font-size: 24px;
  padding: 5px 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  text-align-last: center;
  cursor: pointer;
  outline: none;
}

.chars_sheet option {
  font-size: 12px;
}

.skills,
.tokens,
.location {
  padding: 0 8px;
  text-align: center;
}

.chars_sheet table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.skills button,
.tokens button {
  color: rgba(255, 255, 255, 0.2);
  border: none;
  background-color: transparent;
  outline: none;
  transform: translateY(-5px);
  vertical-align: middle;
  text-align: center;
}

.skills button:hover,
.tokens button:hover {
  cursor: pointer;
  color: white;
}

.skills-header td,
.tokens-header {
  font-size: 10px;
}

.skills td,
.tokens td {
  border: 1px solid black;
  width: 16.5%
}

.skills-number,
.tokens-number {
  font-size: 24px;
  background-color: #606b6c;
}

#lore-bg {
  background-color: #342e7a;
}

#inf-bg {
  background-color: #a16125;
}

#obs-bg {
  background-color: #274e17;
}

#str-bg {
  background-color: #4e1717;
}

#will-bg {
  background-color: #185895;
}

.location-container {
/*   background-color: lightcoral; */
  margin: 0 9px;
  margin-bottom: 10px;
/*   padding: 10px; */
}

#location {
  font-size: 16px;
  background-color: #264124;
  padding: 6px 0;
  width: 100%;
}

.tokens-header {
  background-color: #202727;
  color: rgb(200, 200, 200);
}
