.modal-blocker {
  visibility: hidden;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
}

#modal-rest {
  visibility: hidden;
}

#modal-move {
  visibility: hidden;
}

.modal-header {
  background-color: rgb(50, 55, 60);
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  color: white;
  cursor: move;
}

#modal-rest{
  width: 400px;
}

#modal-move{
  width: 600px;  
}

.modal-container {
  background-color: rgb(120, 120, 125);
  color: black;
  border: 2px solid black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  box-shadow: 10px 10px 10px black;
  font-size: 14px;
}

.row {
  display: flex;
}

.column {
  flex: 100%;
  margin: 0px 5px;
  background-color: rgb(180, 180, 180);
  box-shadow: 3px 3px 5px #18121e38;
  border: 1px solid rgba(0,0,0,.8);
}

.modal-content {
  padding: 0px 10px 10px 10px;
}

.modal-title span {
  font-weight: bold
}

.modal-title {
  font-size: 16px;
}

.sub-title {
  font-weight: bolder;
/*   font-size: 14px; */
  padding: 5px 10px;
  background-color: rgb(120,120,120);
}

.row label {
/*   font-size: 14px; */
  font-weight: normal;
  cursor: pointer;
  width: 100%;
}

.flex-div-btn {
  display: flex;
  padding: 5px;
}

.flex-div-btn:hover {
  background-color: rgb(110, 100, 95);
}

.flex-div-btn {
/*   background-color: transparent; */
/*   width: 100%; */
}

.flex-div-clicked {
  padding: 5px;
  background-color: rgb(50, 60, 50);
  color: white;
}

.row input {
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  margin: 2% 0 0 0;
/*   font-size: 10px; */
}

.modal-buttons button {
  width: 100%;
  padding: 4px;
  border-radius: 5px;
  margin: 5px 5px;
/*   outline: none; */
  font-size: 12px;
}

.modal-buttons button:hover {
  background-color: rgb(45, 45, 40);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}