.chars_sheet {
  border: 1px solid black;
  width: 400px;
  cursor: default;
}
.player {
  padding: 4px 0;
  background-color: #171c1c;
  text-align: center;
  color: rgb(200,200,200);
}
.chars_sheet select {
  border: none;
  border-bottom: 1px solid black;
  font-size: 24px;
  padding: 5px 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  text-align-last: center;
  cursor: pointer;
  outline: none;
}
.chars_sheet option {
  font-size: 12px;
}
.abilities {
  background-color: #606b6c;
  margin: 8px 8px 10px 8px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 180px
}
.abilities li {
  padding: 0px 0px 15px 0px;
}
ul {
  list-style-position: inside;
  padding: 10px 13px;
  margin: 0;
  font-size: 12px;
}
.attributes,
.skills,
.tokens,
.location
 {
  padding: 0 8px;
  text-align: center;
}
.chars_sheet table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
/*   color: red; */
}

.attributes table{
/*   color: blue; */
/*   border-spacing: 10px; */
/*   padding: 20px; */
/*   margin: 10px; */
/*   border-collapse: separate; */
/*   border-spacing: 10px 0px; */
}
.attributes-header {
  font-size: 10px;
}
.attributes-numbers {
  font-size: 38px;
/*   border-spacing: 10px; */
/*   border-radius: 40px; */
  
/*   border: 1px solid; */
/*   color: red; */
}


.attributes-numbers td{
/*   border-spacing: 10px; */
/*   color: red; */
/*   border-radius: 10px; */
/*   border-bottom-right-radius: 20px; */
/*   border-bottom-left-radius: 30px; */
/*   box-shadow: 2px 2px 5px rgba(0,0,0,0.5); */
/*   border: 1px solid black; */
/*   padding: 10px; */
/*   margin: 10px; */
  
}


#rest {
/*   visibi5lity: hidden; */
/*   width: 100%; */
/*   height: 50px; */
  font-size: 12px;
  padding: 10px;
/*   box-shadow: none; */
  background-color: rgb(35,35,40);
/*   color: white; */
/*   border-radius: 0px; */
/*   border-radius: 0px; */
/*   border: 1px solid black */
}

#health-bg{
  background-color: #481818;
  width: 40%;
}

#sanity-bg {
  background-color: #182f48;
  width: 40%;
}

.skills button,
.attributes button,
.tokens button {
  color: rgba(255, 255, 255, 0.2);
/*   color: blue; */
  border: none;
  background-color: transparent;
  outline: none;
  transform: translateY(-5px);
  vertical-align: middle;
  text-align: center;
}
.skills button:hover,
.attributes button:hover,
.tokens button:hover {
  cursor: pointer;
  color: white;
}

.skills-header td,
.tokens-header {
  font-size: 10px;
}
.skills td,
.tokens td {
  border: 1px solid black;
  width: 16.5%
}
.skills-number,
.tokens-number {
  font-size: 24px;
/*   color: red; */
  background-color: #606b6c;

}
#lore-bg {
  background-color: #342e7a;
}
#inf-bg {
  background-color: #a16125;
}
#obs-bg {
  background-color: #274e17;
}
#str-bg {
  background-color: #4e1717;
}
#will-bg {
  background-color: #185895;
}
#location {
  font-size: 16px;
  border-top: 1px solid;
  background-color: #264124;
  padding: 6px 0;
  text-align:center;
}
.tokens-header {
  background-color: #202727;
  color: rgb(200, 200, 200);
}
.sheets {
  padding: 0 5px;
}
#actions_dropdown select {
  border: none;
  /*background-color: rgb(50, 80, 90);*/
  /*  margin: 0px;*/
  font-size: 12px;
  width: 100%;
  /*  box-sizing: border-box;*/
  -webkit-appearance: none;
  text-align-last: center;
  cursor: pointer;
  border-top: 1px solid;
  border-bottom: 1px solid;
  outline: none;
  padding: 5px 0;
}

#actions_dropdown td {
  padding: 0 4px;
}
