
.actions-container {
  /*   background-color: brown; */
  display: flex;
  justify-content: space-between;
  margin: 0px 9px;
  margin-bottom: 10px;
}

.actions-container button {
    background-color: rgb(30,40,60);
  /*   color: black; */
  width: 32%;
  padding: 5px 0;
}

.available-actions-main-container {
  margin: 10px 9px;
  border: 1px solid black;
}

.available-actions-header {
  text-align: center;
  background-color: brown;
}

.available-actions-container {
  display: flex;
  margin: 5px;
}

.available-actions-container div {
  background-color: lightblue;
  color: black;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
}

#av-Move {
  display: none;
}

#av-Rest {
  display: none;
}

#av-Adquire {
  display: none;
}

#av-Trade {
  display: none;
}

#av-Action {
  display: none;
}

#av-Local {
  display: none;
}

#av-Focus {
  display: none;
}

#av-Resource {
  display: none;
}

#av-Ticket {
  display: none;
}

#av-Delayed {
  display: none;
}

#av-Lost {
  display: none;
}

#av-Detained {
  display: none;
}
