.att-container {
    background-color: red;
    display: flex;
    margin: 10px;
    height: 60px;
}

.att-HnS {
    width: 100%;
    background-color: blue
}

.att-max-container {
    display: flex;
    background-color: yellowgreen;
    color: black;
    justify-content: center;
    height: 30%;
    align-items: center;
}

#max-health,
#max-sanity {
    background-color: darkslategrey;
}

.att-number-container {
    display: flex;
    color: black;
    height: 70%;
    background-color: cornflowerblue;
}

.att-number {
    font-size: 40px;
    margin: auto;
}

#att-number-health {
    background-color: darkcyan;
}

#att-number-sanity {
    background-color: firebrick;
}

.att-number-container button {
    width: 100%;
}

.att-rest {
    background-color: green;
    width: 300px;
}


.att-rest div {
    height: 50%;
    background-color: chocolate;
    display: flex;
}

.att-rest button {
    color: black;
    width: 100%;
}

#att-rest-btn {
    background-color: cornsilk;
    height: 50%;
    font-size: 20px;
}

#att-rest-sanity-btn {
    background-color: cadetblue;
    text-align: right;
}

#att-rest-health-btn {
    background-color: brown;
    text-align: left;
}