.sheets{
  background-color:  #171c1c;
  padding: 0;
  margin: 0;
  /* display: flex; */
}

.chars_sheet {
  border: 2px solid black;
  width: 400px;
  margin: 10px;
  padding: 0;
  cursor: default;

}

.player {
  padding: 4px 0;
  background-color: #171c1c;
  text-align: center;
  color: rgb(200, 200, 200);
  font-size: 14px;
}

.chars_sheet select {
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  text-align-last: center;
  cursor: pointer;
  outline: none;
}

.chars_sheet option {
  font-size: 12px;
}

.skills,
.tokens,
.location {
  padding: 0 8px;
  text-align: center;
}

.chars_sheet table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.skills button,
.tokens button {
  color: rgba(255, 255, 255, 0.2);
  border: none;
  background-color: transparent;
  outline: none;
/*   transform: translateY(-5px); */
  vertical-align: middle;
  text-align: center;
}

.skills button:hover,
.tokens button:hover {
  cursor: pointer;
  color: white;
}

.skills-header td,
.tokens-header {
  font-size: 12px;
/*   color: red */

}

.skills td,
.tokens td {
  border: 1px solid black;
/*   color: cyan; */
}

.tokens-header button{
  color: rgb(170,170,170);
    font-size: 12px;
    background-color: rgb(30,40,60);
    width: 100%;
    height: 25px;

}

.tokens-header button:hover,
.actions-container button:hover{
  background-color: rgb(60,65,70);
/*   border: 1px solid black; */
/*   font-weight: bold; */
}

.skills-number,
.tokens-number {
  font-size: 24px;
  background-color: #606b6c;
}

#lore-bg {
  background-color: #342e7a;
}

#inf-bg {
  background-color: #a16125;
}

#obs-bg {
  background-color: #274e17;
}

#str-bg {
  background-color: #4e1717;
}

#will-bg {
  background-color: #185895;
}

.tokens-header {
  background-color: #202727;
  color: rgb(200, 200, 200);
}
